page-youngprofessionals {
  ul{
     list-style: circle;
  }
  p{
     text-align:justify;
  }
  .enlace{
    color:blue;
  }

  @-webkit-keyframes cuadro{
	0% {-webkit-transform: translateY(-300px)}
	100% {-webkit-transform: translateY(0px);}
    }
  #cuadro{
      z-index:5;
      display:none;
      position:absolute;
      width:90%;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 500ms;
      animation-duration: 500ms;
  }
  #front{
      position:absolute;
      width:100%;
      z-index:5;
  }
  #front img{
      display:block;
      margin:auto;
      padding:12px;
  }
  #back{
      position:absolute;
      width:100%;
      z-index:4;
      display:inline;
  }
  #back img{
      display:block;
      margin:auto;
      padding:12px;;
  }
  #back2{
      position:absolute;
      width:100%;
      z-index:3;
  }
  #back2 span{
      display:block;
      margin:auto;
      background-color:rgba(24,189,96, 0.8);
      border-radius:100px;
      border:solid 2px black;
      width:150px;
      height:150px;
    }
  #back2 p{
      text-align:center;
      display:block;
      margin:auto;
      margin-top:5px;
      color:white;
      font-size:x-large;
      font-family:Impact;
      text-shadow:
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
      background-color:rgba(232, 154, 20,0.9);
      padding:5px;
      max-width:320px;
      border-radius:5px;
  }
}
