page-agenda {
  .enlace{
    color:blue;
  }

  .itemLeft{
	  width:20%;
	  float:left;
	  padding:1%;
  }

  .itemRight{
	width:80%;
	float:left;
	padding:1%;
  }
  p{
	white-space:normal;
  }
}

.alert-title{
	color:#387ef5;
}
.alert-sub-title img{
	width:80%;
	margin-left:10%;
}
.alert-sub-title{
	text-align:center;
}