<!--
  Generated template for the RestaurantesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Restaurantes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-list>
    <ion-item [ngClass]="{active: isGroupShown(0)}">

      <ion-item-divider text-wrap (click)="toggleGroup(0)">
        <h1 class="title">Desayunos</h1>
        <ion-icon item-right [name]="isGroupShown(0) ? 'arrow-down' : 'arrow-forward'"></ion-icon>        
      </ion-item-divider>

      <div *ngIf="isGroupShown(0)">

        <ion-card (click)="newPub(Cacharreria)">
          <img src="{{Cacharreria.imagen}}" />
          <div class="card-title item">
            <div class="card-subtitle">{{Cacharreria.title}}</div>
          </div>
        </ion-card>
        
        <ion-card (click)="newPub(Gallo)">
            <img src="{{Gallo.imagen}}" />
            <div class="card-title item">
              <div class="card-subtitle">{{Gallo.title}}</div>
            </div>
          </ion-card>
          
        <ion-card (click)="newPub(RedHouse)">
            <img src="{{RedHouse.imagen}}" />
            <div class="card-title item">
              <div class="card-subtitle">{{RedHouse.title}}</div>
            </div>
          </ion-card>
          
        <ion-card (click)="newPub(Viajero)">
            <img src="{{Viajero.imagen}}" />
            <div class="card-title item">
              <div class="card-subtitle">{{Viajero.title}}</div>
            </div>
          </ion-card>

        <ion-card (click)="newPub(EBio)">
            <img src="{{EBio.imagen}}" />
            <div class="card-title item">
              <div class="card-subtitle">{{EBio.title}}</div>
            </div>
          </ion-card>

      </div>
    </ion-item>

    <ion-item [ngClass]="{active: isGroupShown(1)}">

      <ion-item-divider text-wrap (click)="toggleGroup(1)">
        <h1 class="title">Copas</h1>
        <ion-icon item-right [name]="isGroupShown(1) ? 'arrow-down' : 'arrow-forward'"></ion-icon>        
      </ion-item-divider>

      <div *ngIf="isGroupShown(1)">

        <ion-card (click)="newPub(Alameda)">
          <img src="{{Alameda.imagen}}" />
          <div class="card-title item">
            <div class="card-subtitle">{{Alameda.title}}</div>
          </div>
        </ion-card>

        <ion-card (click)="newPub(Bombay)">
            <img src="{{Bombay.imagen}}" />
            <div class="card-title item">
              <div class="card-subtitle">{{Bombay.title}}</div>
            </div>
          </ion-card>

          
          <ion-card (click)="newPub(Alfalfa)">
              <img src="{{Alfalfa.imagen}}" />
              <div class="card-title item">
                <div class="card-subtitle">{{Alfalfa.title}}</div>
              </div>
            </ion-card>    

      </div>
    </ion-item>
  </ion-list>




</ion-content>