page-home {
    #sponsor{
	clear:both;
	margin-top:40px;
    }
    #sponsor p{
	color:#5192c3;
	width: 100%; 
	text-align: center; 
	border-bottom: 1px solid #5192c3; 
	line-height: 0.1em;
	margin: 10px 0 20px;
	letter-spacing:1px;
    }
    #sponsor p span{
	background:#fff; 
	padding:0 10px;
    }
    #sponsor img{
	width:100%;
    }
}
